<%= simple_form_for @catalog, html: { class: 'text-center border border-light p-5' }  do | f | %>
  <p class="h4 mb-4">Nuevo catálogo</p>
  <%= f.input :name, label: 'Nombre', error: 'Ingrese el nombre del catálogo' %>
  <%= f.association :catalog_category, label: 'Categoria', as: :select, error: 'Selecciona una categoria' %>
  <%= f.input :privacy, label: 'Catalogo privado?' %>
  <%= f.input :image, label: 'Selecciona una imagen', error: 'Selecciona una imagen' %>

  <%= f.button :submit, 'Guardar', class: 'btn-catalog' %>
<% end %>