<% content_for :css do %>
  <%= stylesheet_link_tag  'sidebar', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for :sidebar do %>
<div id="sidebar" role="navigation">
    <div class="jumbotron">
      <h3>Libros</h3>   
      <div class="list-group">
            <%= link_to "Todos los libros", books_path, class: "list-group-item" %>
            <%= link_to "Nuevo libro", new_book_path, class: "list-group-item" %>
            <%= link_to "Categorias", book_categories_path, class: "list-group-item" %>
      </div>
    </div>
  </div>
<% end %>

<% content_for :content do %>
    <div class="col-lg-6 offset-lg-3">
        <%= render 'form', catalog: @book %>
    </div><br>

<% end %>