<% content_for :css do %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<% end %>

<% content_for :sidebar do %>
  <div id="sidebar" role="navigation">
    <div class="jumbotron">
      <h3>Libros</h3>   
      <div class="list-group">
        <% if can? :update, @book %>
            <%= link_to 'Editar', edit_book_path(@book), class: "list-group-item " %> 
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% content_for :content do %>
<div>
    <div class="container jumbotron single-catalog-container"> 
        <div style="margin-left: -15px !important">
            <p class="catalog-title">
                <%= @book.title %> - <%= @book.isbn %> 
            </p>
        </div>
      <div class="row">
        <%= image_tag(@book.image, width: 300, height: 400) %>
        <div class="single-catalog">
    
          <div class="d-flex justify-content-start categories_container ">
              <% @book.book_categories.each do | category | %>
                <div class="category_container">
                    <p class="movie_category"><%= category.name %></p>
                </div>
              <% end %>
          </div>
          <div class="container actors_directors_container">
            <div>
              <h4>Autor</h4>
              <p><%= @book.author %></p>
            </div>
            <div>
              <h4>Editorial</h4>
              <p><%= @book.editorial %></p>
            </div>
            <div>
              <h4>Resumen</h4>
              <p><%= @book.summary %></p>
            </div>
          </div>
    
      </div>
    </div>
<% end %>